/target/
!.mvn/wrapper/maven-wrapper.jar

### Java template
# Compiled class file
*.class

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Others
target/
logs/
.DS_Store
